name: "Release Please"
on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  issues: write
  pages: read

jobs:
  release-please:
    name: Release Please Manifest
    runs-on: ubuntu-24.04
    outputs:
      releases_created: ${{ steps.release-please.outputs.releases_created }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release-please
          
  deploy-artifacts:
    name: Generate and Upload Charts
    runs-on: ubuntu-24.04
    needs: release-please
    if: needs.release-please.outputs.releases_created == 'true'
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Configure Git
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

    - name: Run chart-releaser
      uses: helm/chart-releaser-action@v1.7.0
      env:
        CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
